.profile__desc {
  color: #fff;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
  margin: 10px 0 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

@media screen and (max-width: 640px) {
  .profile__desc {
    font-size: 14px;
    margin: 8px 0 0 0;
    max-width: 300px;
  }
}
