.profile__title {
  display: flex;
  gap: 25px;
  align-items: baseline;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .profile__title {
    width: 100%;
    justify-content: center;
    gap: 15px;
  }
}
