.elements {
  max-width: calc(100% - 400px);
  margin: 51px auto 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  column-gap: 17px;
  row-gap: 20px;
  justify-content: stretch;
}

@media screen and (max-width: 1279px) {
  .elements {
    max-width: calc(100% - 140px);
  }
}

@media screen and (max-width: 540px) {
  .elements {
    max-width: calc(100% - 38px);
    margin: 36px auto 0;
  }
}
