.elements__like {
  width: 22px;
  height: 19px;
  margin: 30px 20px 30px auto;
  padding: 0;
  cursor: pointer;
  background-image: url(../../../images/element-like.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  outline: 0;
}
.elements__like:hover {
  opacity: 0.5;
}
