.popup__window {
  min-width: 425px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #000;
  position: relative;
}

@media screen and (max-width: 540px) {
  .popup__window {
    min-width: 282px;
  }
}
